{% extends '@CongregationManagerAdmin/base.html.twig' %}

{% block title %}{{ 'cm.congregation.show.meta_title'|trans({'{name}': congregation.name}) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-6">
                <h1>{{ congregation.name }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
